extends layout

block content
  header(class="p-3 mb-3 border-bottom fixed-top")
    div(class="container")
      div(class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start")


        ul(class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0")
          li
            a(href="#" ,class="nav-link px-2 link-secondary ") Overview 
          li
            a(href="#" ,class="nav-link px-2 link-dark") Inventory
          li
            a(href="#" ,class="nav-link px-2 link-dark") Customers
          li
            a(href="#" ,class="nav-link px-2 link-dark") Products
            
  div(class="b-example-divider")

  div(class="col-lg-8 mx-auto")
    main(class="h-60")
      h1 Get started with Ethereum
      p(class="fs-5 col-md-8") Quickly and easily get started with Bootstrap's compiled, production-ready files with this barebones example featuring some basic HTML and helpful links. Download all our examples to get started.
      
      div(class="mb-5")
        a(href="#",class="btn btn-primary btn-lg px-4") Download examples

      hr(class="col-3 col-md-2 mb-5")

      div(class="row g-5")
        div(class="col-md-6")
          h2 Starter projects
          p Ready to beyond the starter template? Check out these open source projects that you can quickly duplicate to a new GitHub repository.</p>
          ul(class="icon-list")
            li
              a(href="https://github.com/twbs/bootstrap-npm-starter",rel="noopener",target="_blank") Bootstrap npm starter
            li(class="text-muted") Bootstrap Parcel starter (coming soon!)

        div(class="col-md-6")
          h2 Guides
          p Read more detailed instructions and documentation on using or contributing to Bootstrap.
          ul(class="icon-list")
            li 
              a(href="../getting-started/introduction/") Bootstrap quick start guide 
            li
              a(href="../getting-started/webpack/") Bootstrap Webpack guide
            li
              a(href="../getting-started/parcel/") Bootstrap Parcel guide 
            li
              a(href="../getting-started/contribute/") Contributing to Bootstrap

  div(class="container")
    footer(class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top")
      div(class="col-md-4 d-flex align-items-center")
        a(href="/",class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1")
          svg(class="bi",width="30",height="24")
            use(xlink:href="#bootstrap")
          span(class="text-muted") &copy; 2021 Company, Inc
          
  script(src="/bootstrap/dist/js/bootstrap.bundle.min.js")
  

