[submodule "iamblockchain-webserver"]
	path = iamblockchain-webserver
	url = https://github.com/Kritsanawipankhet/iamblockchain-webserver.git
[submodule "iamblockchain-smartcontract"]
	path = iamblockchain-smartcontract
	url = https://github.com/Kritsanawipankhet/iamblockchain-smartcontract.git
[submodule "iamblockchain-webclient"]
	path = iamblockchain-webclient
	url = https://github.com/Kritsanawipankhet/iamblockchain-webclient.git