[submodule "iamblockchain-smartcontract"]
	path = iamblockchain-smartcontract
	url = https://github.com/Kritsanawipankhet/iamblockchain-smartcontract.git
	branch = main
[submodule "iamblockchain-webserver"]
	path = iamblockchain-webserver
	url = https://github.com/Kritsanawipankhet/iamblockchain-webserver.git
