{% extends 'layout.html' %}

{% block content %}
<h2 align = "center">Register</h2><br />

{% if messages %}
<div class="alert alert-danger" role="alert">
    {% for message in messages %}
    <b>{{message}}<b>
    {% endfor %}
</div>
{% endif %}

<form action ="addForm"  method = "post">
    {% csrf_token %}
    <div class ="form-group">
        <label for="">Username</label>
        <input type="text" class="form-control" name="username"><br />
    </div>

    <div class ="form-group">
        <label for="">FirstName</label>
        <input type="text" class="form-control" name="firstname"><br />
    </div>

    <div class ="form-group">
        <label for="">LastName</label>
        <input type="text" class="form-control" name="lastname"><br />
    </div>

    <div class ="form-group">
        <label for="">Email</label>
        <input type="emai" class="form-control" name="email"><br />
    </div>

    <div class ="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" name="password"><br />
    </div>

    <div class ="form-group">
        <label for="">Re-Password</label>
        <input type="password" class="form-control" name="repassword"><br />
    </div>

    <input type="submit" value="Submit" class = "btn btn-primary">

</form>      
{% endblock content %}